:root {
  --primary: #232f3e;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}
.nav {
  color: red;
}

.footer {
  text-align: center;
  font: xx-large;
  font-style: oblique;
}

.funFont{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.success{
  color:rgb(228, 46, 1);
  font-family: cursive;
  font-weight: bolder;
  font-size: 60px;
}

.navLinks {
  margin-left: 10%;
}

.titleDrink {
  font-size: xx-large !important;
}

.backgroundImg {
  background-image: url("./pages/images/MM_Bg2.png");
  background-repeat: repeat;
}



.landingPageBtnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.landpageBtn {
  text-align: center;
  color: white;
  margin-top: 10%;
  font-size: 1000000px;
}

.cartBgImg {
  height: 80vh;
  width: auto;
  background-repeat: repeat;

}

.landingPageImg {
  height: 80vh;
  width: auto;
  background-image: url("../src/pages/images/bg_lp1.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landingPageText {
  margin: 0;
  font-weight: 550;
}

.landingH1El {
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: #b12704;
  background-color: #f3a84780;
}

.landingPEl {
  margin: 0 20%;
  margin-top: 13%;
  padding: 1.5%;
  background-color: rgba(255, 255, 255, 0.849);
  font-size: x-large;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1 {
  text-align: center;
}

p {
  flex-direction: column;
  border-radius: 20 20 0 0;
}

.landingPageImg {
  height: 80vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.links {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

/* a:hover {
  text-decoration: underline;
} */

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.card {
  width: 25%;
  text-align: center;
}

.error-text {
  color: var(--error);
}

.styledLink {
  text-decoration: none;
  color: red;
}

.backgroundWhite {
  background: rgba(89, 142, 228, 0.466);
  margin: 0 40%;
  padding-left: 140px ;
}

.cartItemsContainer {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cartItem {
margin: 1% 2%;

}
/* .cart-cartItems{
  display: flex;
  flex-direction: row;
  flex-wrap: center;
} */
.col-12{
  align-items: center
}
.itemsInCart{
  align-items: center
}
@media screen and (max-width: 1000px) {
  .card {
    width: 100%;
  }
}
